---
import '../css/global.css'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <slot/>
    <footer class="site-foot" role="contentinfo">
      <div class="wrapper">
        <div class="site-foot__inner">
          <!-- {% include "icons/set.svg" %} -->
          <p>By <a href="https://piccalil.li">Andy Bell</a> for <a href="https://set.studio">Set Studio</a>, published in 2022</p>
        </div>
      </div>
    </footer>
  </body>
</html>
