---
import BaseLayout from '$layouts/BaseLayout.astro'
// if you have an markdownfile with the layout reference, than everything
// inside the markdownfile (not the Frontmatter), gets passed inside the
// layout component via slot. Here we have another astro component which
// is defines the Page layout, here is where the meta data is, maybe the
// navigation -> things that every page has in common

const {content} = Astro.props
const {principles} = content
---

<BaseLayout>
    <main>
        <header>
            <h1>{ content.title }</h1>
            <p>{ content.summary }</p>
        </header>
    </main>
    <article>
        <h2>{ principles.title }</h2>
        <ul>
            {principles.items.map(({title,summary})=>(
                <h2>{title}</h2>
                <p>{summary}</p>
            ) )}
        </ul>
    </article>
    <slot />
</BaseLayout>
